@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: url('vendor/fonts/Inter-Regular.woff2') format('woff2'),
       url('vendor/fonts/Inter-Regular.woff') format('woff');
}

@font-face {
  font-family: 'FKRasterGrotesk';
  font-weight: 400;
  src: url('vendor/fonts/FKRasterGroteskCompact.woff2') format('woff2');
}

@font-face {
  font-family: 'FKRasterRoman';
  font-weight: 400;
  src: url('vendor/fonts/FKRasterRomanCompact.woff2') format('woff2');
}

body {
  margin: 0;
  font-family: 'Inter', 'Helvetica Neue', sans-serif;
  background-color: #1E1E1E;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}


#webpack-dev-server-client-overlay {
  display: none;
}